{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
    <ul class="list-group border-bottom pb-2 mb-4">
        {% for topic in topics %}
            <li class="list-group-item border-0">
                <a href="{% url 'learning_logs:topic' topic.id %}">
                    {% if topic.public != True %}
                        {{ topic.text }}
                    {% else %}
                        {{ topic.text }}<span class="badge rounded-pill text-bg-secondary mx-2">Public</span>
                    {% endif %}                            
                </a>                    
            </li>
        {% empty %}
            <li class="list-group-item border-0">No topics have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>
{% endblock content %}